* {
    line-height: 1;
    font-family: sans-serif;
    align-items: center;
    background-color: rgb(34, 32, 32);
}

body {
    background-color: rgb(34, 32, 32);
}

h1 {
    color: white;
    text-shadow: 3px 3px 1px black;
}
.todos {
    display: inline;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.botones {
    background-color: rgb(0, 0, 0, 0);
    padding: 40px;
    margin-left: 420px;
    display: inline;
    justify-content: space-between;
    align-items: center;
}

#si {
    box-shadow: 11px 10px 30px black;
    border-radius: 20px;
    font-weight: 900;
    background-color: green;
    width: 120px;
    height: 40px;
    transition: all 0.2s;
}

#si:hover {
    box-shadow: 11px 10px 30px green;
    border-radius: 20px;
    font-weight: 900;
    background-color: greenyellow;
    width: 140px;
    height: 40px;
    animation: all 0.2s;
}

#no {
    box-shadow: 11px 10px 30px black;
    border-radius: 20px;
    font-weight: 900;
    background-color: red;
    width: 60px;
    height: 40px;
    transition: all 0.2s;
}

#no:hover {
    box-shadow: 11px 10px 30px red;
    border-radius: 20px;
    font-weight: 900;
    background-color: orange;
    width: 50px;
    height: 40px;
    animation: all 0.2s;
}